body{
	margin: 0;
	padding: 0;
}
html {height: 100%;}

/* Defaults */
.clearfix {display: block; clear: both;}
.img-full {img{width: 100%;}}
.alpha {padding-left: 0px;}
.omega {padding-right: 0px;}
.show-mobile {display: none;}
.hide-mobile {display: block;}
.col-center {float: none; margin: auto;}

a:focus, a:hover {outline: none;}

// @include font-face('arabic', 'GE_Dinar_One_Medium', 'arabic', '.otf','regular');
