/*Colors*/
$baseColor: #f9f9f9;
$navBg : #e6e6e6;
$dark: #000;
$darkNav: #b1afaf;
$border: #1f55f2;
$breadcrumbs: #f2f2f2;
$form : #efefef;
$darkGrey: #373737;
$white: #fff;
$footerBg: #4c4c4c;

/* Typography */
$h1 : 58px;
$h2 : 48px;
$h3 : 28px;
$h4 : 18px;
$h5 : px;

$blockquote : 25px;
$p : 16px;
